body {
    background-color: rgb(123, 123, 123);
}

/* containers */ 

.container {
    border: 1px solid black;
    width: 80%;
}

.container-fluid {
    border: 1px solid black;
    width: 90%;
}

.aueb-text {
    color: antiquewhite;
    font-size:  1.2rem;
    font-weight: 400;
}

/*background colors */

.bg-dark {
    background-color: rgb(0, 0, 0);
}

.bg-primary {
    background-color: blue;
}

/* text styling */
.text-white {
    color: white;
}

/* Image Styling */
.icon-small {
    width: 150px;
    height: auto;
}

/*List Styling */
.courses-wrapper > :first-child {
    font-weight: bold;
    color: red;
}

.courses-wrapper > :last-child {
    color: green
}

.courses-list > :nth-child(odd) {  /*περιττά παιδιά*/
    color: red;
}

.courses-list > :nth-child(even) {   /*άρτια παιδιά*/
    color: wheat;
}