#cfText{
    color: green;
}

.cf-text {
    color: brown! important;  /*σημαντικό, εφαρμόζεται ανεξάρτητα από άλλες προτεραιότητες. θα μπει αυτό ότι και να γίνει */
}

p {
    color: red;
}

p {
    color: blue;
}

/*cascade -> εφαρμόζεται η τελευταία εντολή
/ μορφοποιήση που καταχωρείτε*/
